In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Посмотрим на данные

In [ ]:
data = pd.read_csv("./employee_leave_train.csv").drop('Unnamed: 0',axis=1)
data.head()

  Образование  Год начала работы      Город  ...  Отстранения  Опыт Увольнение
0         PHD               2013  New Delhi  ...           No     5          0
1   Bachelors               2018  Bangalore  ...           No     3          1
2     Masters               2017  New Delhi  ...           No     4          1
3         PHD               2012  Bangalore  ...           No     5          0
4         PHD               2018  New Delhi  ...           No     5          1

[5 rows x 9 columns]

Посмотрим на признаки

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4153 entries, 0 to 4152
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Образование        4153 non-null   object
 1   Год начала работы  4153 non-null   int64
 2   Город              4153 non-null   object
 3   Уровень оплаты     4153 non-null   int64
 4   Возраст            4153 non-null   int64
 5   Пол                4153 non-null   object
 6   Отстранения        4153 non-null   int64
 7   Опыт               4153 non-null   int64
 8   Увольнение         4153 non-null   int64
dtypes: int64(6), object(3)
memory usage: 292.1+ KB

In [ ]:
categorial_columns = [x for x in data.columns if data[x].dtype =='object']

In [ ]:
categorial_columns

['Образование', 'Город', 'Пол']

In [ ]:
data['Образование'].value_counts()

Bachelors    3204
Masters       791
PHD           158
Name: Образование, dtype: int64

In [ ]:
data['Город'].value_counts()

Bangalore    1969
Pune         1130
New Delhi    1054
Name: Город, dtype: int64

In [ ]:
data['Пол'].value_counts()

Male      2481
Female    1672
Name: Пол, dtype: int64

In [ ]:
data['Отстранения'].value_counts()

0    3721
1     432
Name: Отстранения, dtype: int64

Переведем признак "отстранения" в вид бинарных переменных

In [ ]:
data['Отстранения'] = data['Отстранения'].apply(lambda x: 1 if x=='Yes' else 0)
data.head()

  Образование  Год начала работы      Город  ...  Отстранения  Опыт Увольнение
0         PHD               2013  New Delhi  ...            0     5          0
1   Bachelors               2018  Bangalore  ...            0     3          1
2     Masters               2017  New Delhi  ...            0     4          1
3         PHD               2012  Bangalore  ...            0     5          0
4         PHD               2018  New Delhi  ...            0     5          1

[5 rows x 9 columns]

In [ ]:
categorial_columns = [x for x in data.columns if data[x].dtype =='object']
categorial_columns

['Образование', 'Город', 'Пол']

Бинаризуем оставшиеся категориальные признаки

In [ ]:
data = pd.get_dummies(data, categorial_columns)
data.head()

   Год начала работы  Уровень оплаты  Возраст  ...  Город_Pune  Пол_Female  Пол_Male
0               2013               3       30  ...           0           0         1
1               2018               3       25  ...           0           0         1
2               2017               3       26  ...           0           0         1
3               2012               1       38  ...           0           0         1
4               2018               3       27  ...           0           1         0

[5 rows x 14 columns]

Поделим данные на признаки(X) и целевую переменную(y)

In [ ]:
y = data['Увольнение']
X = data.drop('Увольнение', axis=1)

Строим модель

In [ ]:
from sklearn import ensemble #, classifier_model
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

In [ ]:
rf = ensemble.RandomForestClassifier(n_estimators=100, max_depth=10, min_samples_split=7)

In [ ]:
rf.fit(X,y)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=5,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=10,
                           min_weight_fraction_leaf=0.0, n_estimators=500,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

Предобрабатываем тестовые данные

In [ ]:
test_data = pd.read_csv('./employee_leave_test.csv').drop('Unnamed: 0', axis=1)
test_data.head()

  Образование  Год начала работы      Город  ...     Пол  Отстранения Опыт
0     Masters               2017  New Delhi  ...    Male          Yes    2
1     Masters               2015  Bangalore  ...  Female           No    5
2     Masters               2017  New Delhi  ...    Male           No    2
3   Bachelors               2015  Bangalore  ...  Female          Yes    3
4   Bachelors               2015       Pune  ...  Female           No    2

[5 rows x 8 columns]

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Образование        500 non-null    object
 1   Год начала работы  500 non-null    int64
 2   Город              500 non-null    object
 3   Уровень оплаты     500 non-null    int64
 4   Возраст            500 non-null    int64
 5   Пол                500 non-null    object
 6   Отстранения        500 non-null    object
 7   Опыт               500 non-null    int64
dtypes: int64(4), object(4)
memory usage: 31.4+ KB

In [ ]:
test_data['Образование'].value_counts()

Bachelors    397
Masters       82
PHD           21
Name: Образование, dtype: int64

In [ ]:
test_data['Город'].value_counts()

Bangalore    259
Pune         138
New Delhi    103
Name: Город, dtype: int64

In [ ]:
test_data['Отстранения'].value_counts()

No     454
Yes     46
Name: Отстранения, dtype: int64

In [ ]:
test_data['Пол'].value_counts()

Male      297
Female    203
Name: Пол, dtype: int64

In [ ]:
test_data['Отстранения'] = test_data['Отстранения'].apply(lambda x: 1 if x=='Yes' else 0)
test_data.head()

  Образование  Год начала работы      Город  ...     Пол  Отстранения Опыт
0     Masters               2017  New Delhi  ...    Male            1    2
1     Masters               2015  Bangalore  ...  Female            0    5
2     Masters               2017  New Delhi  ...    Male            0    2
3   Bachelors               2015  Bangalore  ...  Female            1    3
4   Bachelors               2015       Pune  ...  Female            0    2

[5 rows x 8 columns]

In [ ]:
categorial_columns = [x for x in test_data.columns if test_data[x].dtype =='object']
categorial_columns

['Образование', 'Город', 'Пол']

In [ ]:
test_data = pd.get_dummies(test_data, categorial_columns)
test_data.head()

   Год начала работы  Уровень оплаты  Возраст  ...  Город_Pune  Пол_Female  Пол_Male
0               2017               2       36  ...           0           0         1
1               2015               3       27  ...           0           1         0
2               2017               2       33  ...           0           0         1
3               2015               1       25  ...           0           1         0
4               2015               3       24  ...           1           1         0

[5 rows x 13 columns]

In [ ]:
data.shape, test_data.shape

((4153, 9), (500, 8))

Получаем предсказания моделей

In [ ]:
y_test_rf = rf.predict(test_data)

In [ ]:
y_test_rf

array([0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1])

In [ ]:
df = pd.DataFrame(y_test_rf)
df.to_csv('test_ans.csv')

In [ ]:
import csv

In [ ]:
with open('outputFile1.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    for row in range(0,y_test_gb.shape[0]):
        myList = []
        myList.append(y_test_gb[row])
        writer.writerow(myList)

In [ ]:
data1 = pd.read_csv("./outputFile.csv")
data1.head()

   0
0  1
1  0
2  0
3  1
4  0

In [ ]:
data1.to_csv('answers.csv')

In [ ]:
data2 = pd.read_csv("./answers.csv")
data2.head()

   Unnamed: 0  0
0           0  0
1           1  1
2           2  0
3           3  0
4           4  1

#Пробуем CatBoost#

In [ ]:
pip install catboost

Collecting catboost
  Downloading catboost-1.0.0-cp37-none-manylinux1_x86_64.whl (76.4 MB)
     |████████████████████████████████| 76.4 MB 22 kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.0

In [ ]:
from catboost import CatBoostClassifier, Pool

In [ ]:
model = CatBoostClassifier(iterations=500,
                           depth=3,
                           learning_rate=0.1,
                           loss_function='Logloss',
                           cat_features=categorial_columns,
                           verbose=True)
# train model
model.fit(X,y)

0:	learn: 0.6428059	total: 4.47ms	remaining: 2.23s
1:	learn: 0.6058441	total: 8.65ms	remaining: 2.15s
2:	learn: 0.5781230	total: 12.8ms	remaining: 2.12s
3:	learn: 0.5538948	total: 17.3ms	remaining: 2.15s
4:	learn: 0.5293932	total: 21.2ms	remaining: 2.09s
5:	learn: 0.5149518	total: 24.9ms	remaining: 2.05s
6:	learn: 0.5047294	total: 28.4ms	remaining: 2s
7:	learn: 0.4947730	total: 32ms	remaining: 1.97s
8:	learn: 0.4808458	total: 35.5ms	remaining: 1.94s
9:	learn: 0.4703473	total: 39.2ms	remaining: 1.92s
10:	learn: 0.4596403	total: 42.6ms	remaining: 1.89s
11:	learn: 0.4547651	total: 46.7ms	remaining: 1.9s
12:	learn: 0.4506204	total: 50ms	remaining: 1.87s
13:	learn: 0.4453996	total: 53.6ms	remaining: 1.86s
14:	learn: 0.4400621	total: 57.3ms	remaining: 1.85s
15:	learn: 0.4340047	total: 60.6ms	remaining: 1.83s
16:	learn: 0.4305367	total: 64.1ms	remaining: 1.82s
17:	learn: 0.4266538	total: 67.5ms	remaining: 1.81s
18:	learn: 0.4247521	total: 71.3ms	remaining: 1.8s
19:	learn: 0.4217338	total: 75ms	remaining: 1.8s
20:	learn: 0.4200810	total: 78.3ms	remaining: 1.78s
21:	learn: 0.4187050	total: 81.9ms	remaining: 1.78s
22:	learn: 0.4149459	total: 85.2ms	remaining: 1.77s
23:	learn: 0.4139448	total: 88.6ms	remaining: 1.76s
24:	learn: 0.4111389	total: 92.3ms	remaining: 1.75s
25:	learn: 0.4097250	total: 95.9ms	remaining: 1.75s
26:	learn: 0.4083547	total: 99.1ms	remaining: 1.74s
27:	learn: 0.4063088	total: 103ms	remaining: 1.74s
28:	learn: 0.4047057	total: 107ms	remaining: 1.74s
29:	learn: 0.4036495	total: 110ms	remaining: 1.73s
30:	learn: 0.4028388	total: 114ms	remaining: 1.72s
31:	learn: 0.4014296	total: 117ms	remaining: 1.72s
32:	learn: 0.4011511	total: 120ms	remaining: 1.7s
33:	learn: 0.4009156	total: 124ms	remaining: 1.7s
34:	learn: 0.3995121	total: 128ms	remaining: 1.69s
35:	learn: 0.3983622	total: 131ms	remaining: 1.69s
36:	learn: 0.3975853	total: 135ms	remaining: 1.69s
37:	learn: 0.3965215	total: 139ms	remaining: 1.68s
38:	learn: 0.3952674	total: 142ms	remaining: 1.68s
39:	learn: 0.3941471	total: 146ms	remaining: 1.68s
40:	learn: 0.3932631	total: 150ms	remaining: 1.68s
41:	learn: 0.3925304	total: 153ms	remaining: 1.67s
42:	learn: 0.3903907	total: 156ms	remaining: 1.66s
43:	learn: 0.3898371	total: 160ms	remaining: 1.66s
44:	learn: 0.3890289	total: 163ms	remaining: 1.65s
45:	learn: 0.3883425	total: 166ms	remaining: 1.64s
46:	learn: 0.3881298	total: 170ms	remaining: 1.64s
47:	learn: 0.3877031	total: 175ms	remaining: 1.65s
48:	learn: 0.3859446	total: 179ms	remaining: 1.65s
49:	learn: 0.3851999	total: 183ms	remaining: 1.64s
50:	learn: 0.3850043	total: 186ms	remaining: 1.64s
51:	learn: 0.3846698	total: 190ms	remaining: 1.64s
52:	learn: 0.3834004	total: 194ms	remaining: 1.64s
53:	learn: 0.3823147	total: 201ms	remaining: 1.66s
54:	learn: 0.3821764	total: 205ms	remaining: 1.66s
55:	learn: 0.3814833	total: 209ms	remaining: 1.66s
56:	learn: 0.3812749	total: 213ms	remaining: 1.65s
57:	learn: 0.3805634	total: 216ms	remaining: 1.64s
58:	learn: 0.3803265	total: 220ms	remaining: 1.64s
59:	learn: 0.3799403	total: 224ms	remaining: 1.64s
60:	learn: 0.3793859	total: 231ms	remaining: 1.66s
61:	learn: 0.3788318	total: 235ms	remaining: 1.66s
62:	learn: 0.3780557	total: 239ms	remaining: 1.66s
63:	learn: 0.3778807	total: 242ms	remaining: 1.65s
64:	learn: 0.3777465	total: 246ms	remaining: 1.65s
65:	learn: 0.3772762	total: 250ms	remaining: 1.65s
66:	learn: 0.3768902	total: 254ms	remaining: 1.64s
67:	learn: 0.3765201	total: 257ms	remaining: 1.63s
68:	learn: 0.3762244	total: 260ms	remaining: 1.63s
69:	learn: 0.3759145	total: 264ms	remaining: 1.62s
70:	learn: 0.3753698	total: 267ms	remaining: 1.61s
71:	learn: 0.3752070	total: 270ms	remaining: 1.61s
72:	learn: 0.3747717	total: 274ms	remaining: 1.6s
73:	learn: 0.3746667	total: 277ms	remaining: 1.59s
74:	learn: 0.3744025	total: 282ms	remaining: 1.6s
75:	learn: 0.3740357	total: 285ms	remaining: 1.59s
76:	learn: 0.3739461	total: 289ms	remaining: 1.58s
77:	learn: 0.3734812	total: 293ms	remaining: 1.58s
78:	learn: 0.3734373	total: 296ms	remaining: 1.58s
79:	learn: 0.3731161	total: 300ms	remaining: 1.58s
80:	learn: 0.3726181	total: 304ms	remaining: 1.57s
81:	learn: 0.3725117	total: 307ms	remaining: 1.56s
82:	learn: 0.3719712	total: 310ms	remaining: 1.56s
83:	learn: 0.3719104	total: 314ms	remaining: 1.56s
84:	learn: 0.3713540	total: 317ms	remaining: 1.55s
85:	learn: 0.3710488	total: 321ms	remaining: 1.54s
86:	learn: 0.3707273	total: 325ms	remaining: 1.54s
87:	learn: 0.3706424	total: 328ms	remaining: 1.54s
88:	learn: 0.3703544	total: 332ms	remaining: 1.53s
89:	learn: 0.3698568	total: 336ms	remaining: 1.53s
90:	learn: 0.3697836	total: 339ms	remaining: 1.52s
91:	learn: 0.3696798	total: 342ms	remaining: 1.52s
92:	learn: 0.3691176	total: 346ms	remaining: 1.51s
93:	learn: 0.3682487	total: 350ms	remaining: 1.51s
94:	learn: 0.3682381	total: 353ms	remaining: 1.51s
95:	learn: 0.3681506	total: 357ms	remaining: 1.5s
96:	learn: 0.3676559	total: 360ms	remaining: 1.5s
97:	learn: 0.3675215	total: 364ms	remaining: 1.49s
98:	learn: 0.3672995	total: 367ms	remaining: 1.49s
99:	learn: 0.3669748	total: 371ms	remaining: 1.48s
100:	learn: 0.3667677	total: 375ms	remaining: 1.48s
101:	learn: 0.3667176	total: 378ms	remaining: 1.48s
102:	learn: 0.3662345	total: 381ms	remaining: 1.47s
103:	learn: 0.3660242	total: 385ms	remaining: 1.47s
104:	learn: 0.3658247	total: 389ms	remaining: 1.46s
105:	learn: 0.3651820	total: 395ms	remaining: 1.47s
106:	learn: 0.3650896	total: 400ms	remaining: 1.47s
107:	learn: 0.3644533	total: 403ms	remaining: 1.46s
108:	learn: 0.3641787	total: 407ms	remaining: 1.46s
109:	learn: 0.3639769	total: 411ms	remaining: 1.46s
110:	learn: 0.3639115	total: 414ms	remaining: 1.45s
111:	learn: 0.3635884	total: 418ms	remaining: 1.45s
112:	learn: 0.3631656	total: 422ms	remaining: 1.44s
113:	learn: 0.3631421	total: 425ms	remaining: 1.44s
114:	learn: 0.3630706	total: 429ms	remaining: 1.43s
115:	learn: 0.3629655	total: 432ms	remaining: 1.43s
116:	learn: 0.3628853	total: 436ms	remaining: 1.43s
117:	learn: 0.3626504	total: 441ms	remaining: 1.43s
118:	learn: 0.3626024	total: 448ms	remaining: 1.43s
119:	learn: 0.3620861	total: 451ms	remaining: 1.43s
120:	learn: 0.3618718	total: 454ms	remaining: 1.42s
121:	learn: 0.3616976	total: 458ms	remaining: 1.42s
122:	learn: 0.3616496	total: 462ms	remaining: 1.42s
123:	learn: 0.3616105	total: 466ms	remaining: 1.41s
124:	learn: 0.3615292	total: 469ms	remaining: 1.41s
125:	learn: 0.3614623	total: 473ms	remaining: 1.4s
126:	learn: 0.3612329	total: 477ms	remaining: 1.4s
127:	learn: 0.3611626	total: 480ms	remaining: 1.4s
128:	learn: 0.3611083	total: 484ms	remaining: 1.39s
129:	learn: 0.3610837	total: 487ms	remaining: 1.39s
130:	learn: 0.3607488	total: 491ms	remaining: 1.38s
131:	learn: 0.3604897	total: 494ms	remaining: 1.38s
132:	learn: 0.3603199	total: 498ms	remaining: 1.37s
133:	learn: 0.3600498	total: 502ms	remaining: 1.37s
134:	learn: 0.3597491	total: 505ms	remaining: 1.37s
135:	learn: 0.3595469	total: 509ms	remaining: 1.36s
136:	learn: 0.3595371	total: 512ms	remaining: 1.36s
137:	learn: 0.3592214	total: 515ms	remaining: 1.35s
138:	learn: 0.3590630	total: 519ms	remaining: 1.35s
139:	learn: 0.3588606	total: 523ms	remaining: 1.34s
140:	learn: 0.3584221	total: 527ms	remaining: 1.34s
141:	learn: 0.3583874	total: 530ms	remaining: 1.34s
142:	learn: 0.3582151	total: 534ms	remaining: 1.33s
143:	learn: 0.3580923	total: 538ms	remaining: 1.33s
144:	learn: 0.3580471	total: 541ms	remaining: 1.32s
145:	learn: 0.3580387	total: 545ms	remaining: 1.32s
146:	learn: 0.3579069	total: 548ms	remaining: 1.32s
147:	learn: 0.3577539	total: 554ms	remaining: 1.32s
148:	learn: 0.3575679	total: 560ms	remaining: 1.32s
149:	learn: 0.3572633	total: 563ms	remaining: 1.31s
150:	learn: 0.3570507	total: 567ms	remaining: 1.31s
151:	learn: 0.3568317	total: 571ms	remaining: 1.31s
152:	learn: 0.3565808	total: 575ms	remaining: 1.3s
153:	learn: 0.3564948	total: 578ms	remaining: 1.3s
154:	learn: 0.3564004	total: 587ms	remaining: 1.31s
155:	learn: 0.3562699	total: 591ms	remaining: 1.3s
156:	learn: 0.3561650	total: 595ms	remaining: 1.3s
157:	learn: 0.3559786	total: 599ms	remaining: 1.3s
158:	learn: 0.3558617	total: 603ms	remaining: 1.29s
159:	learn: 0.3557628	total: 607ms	remaining: 1.29s
160:	learn: 0.3556283	total: 611ms	remaining: 1.28s
161:	learn: 0.3556067	total: 614ms	remaining: 1.28s
162:	learn: 0.3554403	total: 618ms	remaining: 1.28s
163:	learn: 0.3553935	total: 622ms	remaining: 1.27s
164:	learn: 0.3550927	total: 626ms	remaining: 1.27s
165:	learn: 0.3549602	total: 630ms	remaining: 1.27s
166:	learn: 0.3549224	total: 633ms	remaining: 1.26s
167:	learn: 0.3547967	total: 637ms	remaining: 1.26s
168:	learn: 0.3547427	total: 640ms	remaining: 1.25s
169:	learn: 0.3547232	total: 644ms	remaining: 1.25s
170:	learn: 0.3545188	total: 647ms	remaining: 1.25s
171:	learn: 0.3543125	total: 651ms	remaining: 1.24s
172:	learn: 0.3539145	total: 655ms	remaining: 1.24s
173:	learn: 0.3537415	total: 659ms	remaining: 1.24s
174:	learn: 0.3536290	total: 663ms	remaining: 1.23s
175:	learn: 0.3533825	total: 669ms	remaining: 1.23s
176:	learn: 0.3531508	total: 673ms	remaining: 1.23s
177:	learn: 0.3530610	total: 676ms	remaining: 1.22s
178:	learn: 0.3527035	total: 680ms	remaining: 1.22s
179:	learn: 0.3526183	total: 683ms	remaining: 1.21s
180:	learn: 0.3526045	total: 687ms	remaining: 1.21s
181:	learn: 0.3522805	total: 691ms	remaining: 1.21s
182:	learn: 0.3522099	total: 695ms	remaining: 1.2s
183:	learn: 0.3521821	total: 699ms	remaining: 1.2s
184:	learn: 0.3518037	total: 702ms	remaining: 1.2s
185:	learn: 0.3516863	total: 706ms	remaining: 1.19s
186:	learn: 0.3516063	total: 709ms	remaining: 1.19s
187:	learn: 0.3514064	total: 712ms	remaining: 1.18s
188:	learn: 0.3513773	total: 716ms	remaining: 1.18s
189:	learn: 0.3511922	total: 719ms	remaining: 1.17s
190:	learn: 0.3510651	total: 723ms	remaining: 1.17s
191:	learn: 0.3510338	total: 727ms	remaining: 1.17s
192:	learn: 0.3509471	total: 730ms	remaining: 1.16s
193:	learn: 0.3508975	total: 734ms	remaining: 1.16s
194:	learn: 0.3508664	total: 738ms	remaining: 1.15s
195:	learn: 0.3507590	total: 742ms	remaining: 1.15s
196:	learn: 0.3507243	total: 745ms	remaining: 1.15s
197:	learn: 0.3505619	total: 749ms	remaining: 1.14s
198:	learn: 0.3504240	total: 753ms	remaining: 1.14s
199:	learn: 0.3503245	total: 756ms	remaining: 1.13s
200:	learn: 0.3502932	total: 760ms	remaining: 1.13s
201:	learn: 0.3501759	total: 764ms	remaining: 1.13s
202:	learn: 0.3499263	total: 767ms	remaining: 1.12s
203:	learn: 0.3496682	total: 771ms	remaining: 1.12s
204:	learn: 0.3495901	total: 774ms	remaining: 1.11s
205:	learn: 0.3495114	total: 778ms	remaining: 1.11s
206:	learn: 0.3493667	total: 787ms	remaining: 1.11s
207:	learn: 0.3493457	total: 791ms	remaining: 1.11s
208:	learn: 0.3492366	total: 795ms	remaining: 1.11s
209:	learn: 0.3491944	total: 798ms	remaining: 1.1s
210:	learn: 0.3491590	total: 802ms	remaining: 1.1s
211:	learn: 0.3490466	total: 806ms	remaining: 1.09s
212:	learn: 0.3488920	total: 809ms	remaining: 1.09s
213:	learn: 0.3488275	total: 813ms	remaining: 1.09s
214:	learn: 0.3485864	total: 817ms	remaining: 1.08s
215:	learn: 0.3485762	total: 820ms	remaining: 1.08s
216:	learn: 0.3485555	total: 824ms	remaining: 1.07s
217:	learn: 0.3484567	total: 828ms	remaining: 1.07s
218:	learn: 0.3484497	total: 831ms	remaining: 1.07s
219:	learn: 0.3483368	total: 835ms	remaining: 1.06s
220:	learn: 0.3482213	total: 839ms	remaining: 1.06s
221:	learn: 0.3480500	total: 844ms	remaining: 1.06s
222:	learn: 0.3480148	total: 849ms	remaining: 1.05s
223:	learn: 0.3479385	total: 853ms	remaining: 1.05s
224:	learn: 0.3479000	total: 860ms	remaining: 1.05s
225:	learn: 0.3477839	total: 865ms	remaining: 1.05s
226:	learn: 0.3477030	total: 869ms	remaining: 1.04s
227:	learn: 0.3476955	total: 873ms	remaining: 1.04s
228:	learn: 0.3475659	total: 877ms	remaining: 1.04s
229:	learn: 0.3474971	total: 880ms	remaining: 1.03s
230:	learn: 0.3473585	total: 884ms	remaining: 1.03s
231:	learn: 0.3472739	total: 887ms	remaining: 1.02s
232:	learn: 0.3472440	total: 891ms	remaining: 1.02s
233:	learn: 0.3471401	total: 895ms	remaining: 1.02s
234:	learn: 0.3470114	total: 898ms	remaining: 1.01s
235:	learn: 0.3469189	total: 902ms	remaining: 1.01s
236:	learn: 0.3469086	total: 905ms	remaining: 1s
237:	learn: 0.3469029	total: 909ms	remaining: 1s
238:	learn: 0.3466353	total: 912ms	remaining: 996ms
239:	learn: 0.3465523	total: 916ms	remaining: 992ms
240:	learn: 0.3465471	total: 920ms	remaining: 988ms
241:	learn: 0.3464836	total: 923ms	remaining: 984ms
242:	learn: 0.3464585	total: 926ms	remaining: 980ms
243:	learn: 0.3462313	total: 930ms	remaining: 976ms
244:	learn: 0.3459061	total: 934ms	remaining: 972ms
245:	learn: 0.3458688	total: 938ms	remaining: 969ms
246:	learn: 0.3458353	total: 942ms	remaining: 965ms
247:	learn: 0.3457971	total: 946ms	remaining: 961ms
248:	learn: 0.3456038	total: 950ms	remaining: 957ms
249:	learn: 0.3453279	total: 954ms	remaining: 954ms
250:	learn: 0.3452967	total: 957ms	remaining: 950ms
251:	learn: 0.3450688	total: 961ms	remaining: 946ms
252:	learn: 0.3449017	total: 965ms	remaining: 942ms
253:	learn: 0.3448106	total: 969ms	remaining: 938ms
254:	learn: 0.3447930	total: 972ms	remaining: 934ms
255:	learn: 0.3447331	total: 976ms	remaining: 930ms
256:	learn: 0.3447156	total: 982ms	remaining: 928ms
257:	learn: 0.3447027	total: 987ms	remaining: 926ms
258:	learn: 0.3446797	total: 991ms	remaining: 922ms
259:	learn: 0.3446647	total: 995ms	remaining: 918ms
260:	learn: 0.3445031	total: 999ms	remaining: 915ms
261:	learn: 0.3443139	total: 1s	remaining: 911ms
262:	learn: 0.3442862	total: 1.01s	remaining: 907ms
263:	learn: 0.3441818	total: 1.01s	remaining: 904ms
264:	learn: 0.3438413	total: 1.01s	remaining: 900ms
265:	learn: 0.3438410	total: 1.02s	remaining: 896ms
266:	learn: 0.3437926	total: 1.02s	remaining: 892ms
267:	learn: 0.3436356	total: 1.02s	remaining: 888ms
268:	learn: 0.3436250	total: 1.03s	remaining: 884ms
269:	learn: 0.3435493	total: 1.03s	remaining: 881ms
270:	learn: 0.3434940	total: 1.04s	remaining: 877ms
271:	learn: 0.3434813	total: 1.04s	remaining: 873ms
272:	learn: 0.3434096	total: 1.04s	remaining: 869ms
273:	learn: 0.3433213	total: 1.05s	remaining: 865ms
274:	learn: 0.3432992	total: 1.05s	remaining: 861ms
275:	learn: 0.3430963	total: 1.06s	remaining: 857ms
276:	learn: 0.3429786	total: 1.06s	remaining: 853ms
277:	learn: 0.3429168	total: 1.06s	remaining: 849ms
278:	learn: 0.3426775	total: 1.07s	remaining: 845ms
279:	learn: 0.3426738	total: 1.07s	remaining: 842ms
280:	learn: 0.3425717	total: 1.07s	remaining: 838ms
281:	learn: 0.3424368	total: 1.08s	remaining: 834ms
282:	learn: 0.3423479	total: 1.08s	remaining: 830ms
283:	learn: 0.3422728	total: 1.09s	remaining: 827ms
284:	learn: 0.3421252	total: 1.09s	remaining: 823ms
285:	learn: 0.3420113	total: 1.09s	remaining: 819ms
286:	learn: 0.3419367	total: 1.1s	remaining: 815ms
287:	learn: 0.3419269	total: 1.1s	remaining: 811ms
288:	learn: 0.3419236	total: 1.1s	remaining: 807ms
289:	learn: 0.3419085	total: 1.11s	remaining: 803ms
290:	learn: 0.3417754	total: 1.11s	remaining: 799ms
291:	learn: 0.3417648	total: 1.12s	remaining: 795ms
292:	learn: 0.3417613	total: 1.12s	remaining: 791ms
293:	learn: 0.3416600	total: 1.12s	remaining: 788ms
294:	learn: 0.3416299	total: 1.13s	remaining: 787ms
295:	learn: 0.3415860	total: 1.14s	remaining: 784ms
296:	learn: 0.3414695	total: 1.14s	remaining: 781ms
297:	learn: 0.3412827	total: 1.15s	remaining: 777ms
298:	learn: 0.3412065	total: 1.15s	remaining: 774ms
299:	learn: 0.3411374	total: 1.15s	remaining: 769ms
300:	learn: 0.3411280	total: 1.16s	remaining: 765ms
301:	learn: 0.3409831	total: 1.16s	remaining: 762ms
302:	learn: 0.3407933	total: 1.17s	remaining: 757ms
303:	learn: 0.3407771	total: 1.17s	remaining: 754ms
304:	learn: 0.3407709	total: 1.17s	remaining: 750ms
305:	learn: 0.3407237	total: 1.18s	remaining: 746ms
306:	learn: 0.3406386	total: 1.18s	remaining: 744ms
307:	learn: 0.3405835	total: 1.19s	remaining: 741ms
308:	learn: 0.3405641	total: 1.19s	remaining: 737ms
309:	learn: 0.3405426	total: 1.2s	remaining: 733ms
310:	learn: 0.3403024	total: 1.2s	remaining: 729ms
311:	learn: 0.3402432	total: 1.2s	remaining: 725ms
312:	learn: 0.3401517	total: 1.21s	remaining: 721ms
313:	learn: 0.3401307	total: 1.21s	remaining: 717ms
314:	learn: 0.3401037	total: 1.21s	remaining: 713ms
315:	learn: 0.3399197	total: 1.22s	remaining: 709ms
316:	learn: 0.3398297	total: 1.22s	remaining: 705ms
317:	learn: 0.3398168	total: 1.23s	remaining: 701ms
318:	learn: 0.3398155	total: 1.23s	remaining: 697ms
319:	learn: 0.3396807	total: 1.23s	remaining: 694ms
320:	learn: 0.3395878	total: 1.24s	remaining: 691ms
321:	learn: 0.3395381	total: 1.24s	remaining: 687ms
322:	learn: 0.3395191	total: 1.25s	remaining: 683ms
323:	learn: 0.3394349	total: 1.25s	remaining: 679ms
324:	learn: 0.3394260	total: 1.25s	remaining: 675ms
325:	learn: 0.3393904	total: 1.26s	remaining: 671ms
326:	learn: 0.3392995	total: 1.26s	remaining: 667ms
327:	learn: 0.3392696	total: 1.26s	remaining: 663ms
328:	learn: 0.3391454	total: 1.27s	remaining: 660ms
329:	learn: 0.3390095	total: 1.27s	remaining: 656ms
330:	learn: 0.3389087	total: 1.28s	remaining: 652ms
331:	learn: 0.3387760	total: 1.28s	remaining: 648ms
332:	learn: 0.3387066	total: 1.28s	remaining: 644ms
333:	learn: 0.3386072	total: 1.29s	remaining: 640ms
334:	learn: 0.3385581	total: 1.29s	remaining: 636ms
335:	learn: 0.3385291	total: 1.29s	remaining: 632ms
336:	learn: 0.3384201	total: 1.3s	remaining: 628ms
337:	learn: 0.3383585	total: 1.3s	remaining: 624ms
338:	learn: 0.3382647	total: 1.3s	remaining: 620ms
339:	learn: 0.3380887	total: 1.31s	remaining: 616ms
340:	learn: 0.3379985	total: 1.31s	remaining: 612ms
341:	learn: 0.3379624	total: 1.32s	remaining: 608ms
342:	learn: 0.3378897	total: 1.32s	remaining: 605ms
343:	learn: 0.3378869	total: 1.32s	remaining: 601ms
344:	learn: 0.3378081	total: 1.33s	remaining: 597ms
345:	learn: 0.3377897	total: 1.33s	remaining: 593ms
346:	learn: 0.3377861	total: 1.34s	remaining: 589ms
347:	learn: 0.3377033	total: 1.34s	remaining: 585ms
348:	learn: 0.3376912	total: 1.34s	remaining: 581ms
349:	learn: 0.3375396	total: 1.35s	remaining: 577ms
350:	learn: 0.3374228	total: 1.35s	remaining: 574ms
351:	learn: 0.3374218	total: 1.35s	remaining: 570ms
352:	learn: 0.3373269	total: 1.36s	remaining: 566ms
353:	learn: 0.3372259	total: 1.36s	remaining: 561ms
354:	learn: 0.3372033	total: 1.36s	remaining: 558ms
355:	learn: 0.3371890	total: 1.37s	remaining: 554ms
356:	learn: 0.3371641	total: 1.37s	remaining: 550ms
357:	learn: 0.3371091	total: 1.38s	remaining: 546ms
358:	learn: 0.3370577	total: 1.38s	remaining: 543ms
359:	learn: 0.3370481	total: 1.39s	remaining: 540ms
360:	learn: 0.3369475	total: 1.39s	remaining: 536ms
361:	learn: 0.3369421	total: 1.4s	remaining: 533ms
362:	learn: 0.3368514	total: 1.4s	remaining: 529ms
363:	learn: 0.3367818	total: 1.4s	remaining: 525ms
364:	learn: 0.3367633	total: 1.41s	remaining: 521ms
365:	learn: 0.3365785	total: 1.41s	remaining: 517ms
366:	learn: 0.3365753	total: 1.42s	remaining: 513ms
367:	learn: 0.3364034	total: 1.42s	remaining: 509ms
368:	learn: 0.3363518	total: 1.42s	remaining: 505ms
369:	learn: 0.3363498	total: 1.43s	remaining: 501ms
370:	learn: 0.3363296	total: 1.43s	remaining: 498ms
371:	learn: 0.3363045	total: 1.43s	remaining: 494ms
372:	learn: 0.3362544	total: 1.44s	remaining: 490ms
373:	learn: 0.3361975	total: 1.44s	remaining: 486ms
374:	learn: 0.3361214	total: 1.45s	remaining: 482ms
375:	learn: 0.3361183	total: 1.45s	remaining: 479ms
376:	learn: 0.3360617	total: 1.46s	remaining: 476ms
377:	learn: 0.3360524	total: 1.46s	remaining: 472ms
378:	learn: 0.3359769	total: 1.47s	remaining: 468ms
379:	learn: 0.3359028	total: 1.47s	remaining: 464ms
380:	learn: 0.3357721	total: 1.47s	remaining: 460ms
381:	learn: 0.3357630	total: 1.48s	remaining: 456ms
382:	learn: 0.3357603	total: 1.48s	remaining: 452ms
383:	learn: 0.3357581	total: 1.48s	remaining: 448ms
384:	learn: 0.3357025	total: 1.49s	remaining: 444ms
385:	learn: 0.3356925	total: 1.49s	remaining: 440ms
386:	learn: 0.3356759	total: 1.49s	remaining: 436ms

In [ ]:
catboost_ans = model.predict(test_data)

In [ ]:
df = pd.DataFrame(catboost_ans)
df.to_csv('catboost_ans.csv')

In [ ]:
with open('catboost_answers.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    for row in range(0,catboost_ans.shape[0]):
        myList = []
        myList.append(catboost_ans[row])
        writer.writerow(myList)

In [ ]:
data1 = pd.read_csv("./catboost_answers.csv")
data1.head()

   0
0  1
1  0
2  0
3  1
4  0